*{
    margin: 0;
    padding: 0;
}
html , body{
    height: 100vh;      /* full viewport height */
    overflow: hidden;   /* fisable scrolling */
}
header{
    width: 100%;
    height: 70px;
    border: 5px solid black;
    box-sizing: border-box;
    background-color: #808000;
}
/* 
    I used the smallest resolution as a default media queries
    because it is considered the most commonly used
    In media queries it is overwritten
*/
main{
    width: 100%;
    height: calc(100vh - 70px); /* main height calculation */
    box-sizing: border-box;
    background-color: #008000;
    border: 4px solid black;
    border-top: none;
    display: grid;
    grid-template-areas: 
        "squares"
        "figures"
        "aside"
    ;
    grid-template-columns: 1fr;
    grid-template-rows: auto auto 1fr; /* divides equally space */
}
.squares{
    position: relative;
    grid-area: squares;
}
/*Position the first red square*/
.squares-item:nth-child(1){
    position: absolute;
    top: 23px;
    left: 130px;
}
/*Position the second red square*/
.squares-item:nth-child(2){
    position: absolute;
    top: 123px;
    left: 30px;
}
.squares-item{
    width: 100px;
    height: 100px;
    background-color: #ff0000;
    border: 2px solid black;
    transform: rotate(45deg);
}
.figures{
    padding-top: 120px;
    display: flex;
    flex-direction: row;
    align-items: start;
    justify-content: center;
    grid-area: figures;
}
.figures-rectangles{
    display: flex;
    flex-direction: column;
}
.figures__rectangles-item{
    width: 130px;
    height: 10px;
    background-color: #0000ff;
    border: 4px solid black;
    margin: 20px;
}
.figures-circle{
    height: 100px;
    width: 100px;
    border-radius: 50%;
    background-color: #008080;
    border: 4px solid black;
}
aside{
    display: flex;
    grid-area: aside;
    flex-direction: column; 
    align-items: end;         
    padding: 0 20px;            
}
article{
    margin: 40px 10px;  
    flex: 1;         
    width: 250px;
    box-sizing: border-box;
    border: 4px solid black;
    text-align: center;
    background-color: #0000ff;
}
article h1{
    font-size: 40px;
    padding: 30px;
} 


/* --- MEDIA QUERIES --- */

/* 
  Small screens max-width: 582px
    - Change header height
    - Recalculate main height
    - Change grid row sizes
    - Resize squares and figures
*/
@media (max-width: 582px){
    main{
        height: calc(100vh - 30px);
        grid-template-areas: 
            "squares"
            "figures"
            "aside"
        ;
        grid-template-columns: 1fr;
        grid-template-rows: 200px 110px auto;
    }
    aside{
        align-items: start;  
    }
    header{
        height: 30px;
    }
    .squares-item{
        width: 70px;
        height: 70px;
    }
    .squares-item:nth-child(1){
        top: 15px;
        left: 100px;
    }
    .squares-item:nth-child(2){
        top: 95px;
        left: 20px;
    }
    .figures{
        padding-top: 0px;
        justify-content: start;
        align-items: center;
    }
    .figures__rectangles-item{
        width: 90px;
        height: 7px;
        margin: 7px;
    }
    .figures-circle{
        height: 70px;
        width: 70px;
    }

}


/* 
  Medium screens 583px to 900px
    - Change grid into two columns
    - change article background color
*/
@media (min-width: 583px ) and (max-width: 900px){
    main{
        grid-template-areas:
            "squares aside"
            "figures aside"
        ;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: auto auto;
    }
    article{
        background-color: #c73636;
    }
    .figures{
        padding-top: 0px;
        justify-content: start;
    }
}


/* 
  Large screens, min-width: 901px
    -layout with three columns
*/
@media (min-width: 901px){
    main{
        grid-template-areas: "squares figures aside";
        grid-template-columns: 1fr 1fr 1fr;
        grid-template-rows: 1fr; 
    }
    .squares, .figures, aside {
        height: 100%;
    }
    article{
        background-color: #ffffff;
    }
} 

