*{
    margin: 0;
    padding: 0;
}
body{
    height: 100vh;
}
header{
    width: 100%;
    height: 70px;
    border: 5px solid black;
    box-sizing: border-box;
    background-color: #808000;
}
/* 
    I used the smallest resolution as a default media queries
    because it is considered the most commonly used
    In media queries it is overwritten
*/
main{
    position: relative;
    width: 100%;
    height: calc(100vh - 70px);
    box-sizing: border-box;
    background-color: #008000;
    border: 4px solid black;
    border-top: none;
    display: grid;
    grid-template-areas: 
        "squares"
        "figures"
        "aside"
    ;
    grid-template-columns: 1fr;
    grid-template-rows: auto auto auto;
}
.squares{
    position: relative;
    grid-area: squares;
    
}
.squares-item:nth-child(1){
    position: absolute;
    top: 23px;
    left: 130px;
}
.squares-item:nth-child(2){
    position: absolute;
    top: 123px;
    left: 30px;
}
.squares-item{
    width: 100px;
    height: 100px;
    background-color: #ff0000;
    border: 2px solid black;
    transform: rotate(45deg);
}
.figures{
    margin-top: 80px;
    display: flex;
    flex-direction: row;
    align-items: center;
    grid-area: figures;
}
.figures-rectangle{
    display: flex;
    flex-direction: column;
}
.figures__rectangle-item{
    width: 130px;
    height: 10px;
    background-color: #0000ff;
    border: 4px solid black;
    margin: 20px;
}
.figures-circle{
    height: 100px;
    width: 100px;
    border-radius: 50%;
    background-color: #008080;
    border: 4px solid black;
}
aside{
    position: absolute;
    top: 40px;
    right: 20px;
    width: 200px;
    height: 500px;
    background-color: #ffffff;
    border: 4px solid black;
    text-align: center;
    grid-area: aside;
}
aside h1{
    font-size: 40px;
    padding: 30px;
} 


@media (max-width: 582px){
    main{
        display: grid;
        grid-template-areas: 
            "squares"
            "figures"
            "aside"
        ;
        grid-template-columns: 1fr;
        grid-template-rows: auto auto auto;
    }
    aside{
        background-color: #0000ff;
    }
}

@media (min-width: 583px ) and (max-width: 900px){
    main{
        display: grid;
        grid-template-areas:
            "squares aside"
            "figures aside"
        ;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: auto auto;
    }
    aside{
        background-color: #c73636;
    }
    .figures{
        margin-top: 0px;
    }
}


@media (min-width: 901px){
    main{
        display: grid;
        grid-template-areas: "squares figures aside";
        grid-template-columns: 1fr 1fr 1fr; 
    }
}
   
